.challengeBox {
  height: 100%;

  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.12);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.challengeBox .notActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeBox .notActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeBox .notActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
}

.challengeBox .active {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challengeBox .active > .bonus {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 0 1.2rem 0;
  border-bottom: 1px solid var(--gray-line);
}

.challengeBox .active > .challenge {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeBox .active > .challenge .avatar {}

.challengeBox .active > .challenge .title {
  font-weight: 600;
  font-size: 2rem;

  color: var(--title);
  margin: 1.5rem 2rem;
}

.challengeBox .active > .challenge .description {
  line-height: 1.5;
}

.challengeBox .active > .actionBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.challengeBox .active > .actionBar .btn {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 0;
  outline: 0;
  border-radius: 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--white);

  transition: filter 0.5s;
}

.challengeBox .active > .actionBar .btn:hover {
  filter: brightness(0.9);
}

.challengeBox .active > .actionBar .btn.succeededBtn {
  background: var(--green);
}

.challengeBox .active > .actionBar .btn.failedBtn {
  background: var(--red);
}
